:root {
    --color-bg: #fff;
    --color-text: #2f3133;
    --color-primary-dark: #122440;
    --color-primary: #246797;
    --color-primary-light: #c8d7f7;
    --color-secondary: #bdb7b2;
    --color-tertiary: #668d6e;

    --small-page-width: 50rem;
    --medium-page-width: 70rem;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}

p,
ul,
img,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
}

header {
    color: var(--color-primary-dark);
}

h1 {
    color: var(--color-primary-dark);
}

h2 {
    color: var(--color-primary);
}

hr {
    color: var(--color-primary-light);
}

a {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-primary-dark);
}

a:active {
    color: var(--color-secondary);
}

img.icon {
    height: 1em;
    width: auto;
    vertical-align: -0.15em;
    margin: 0 0.5rem;
}

img.inline {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 2rem auto;
    float: none;

}

@media (min-width: 768px) {
    img.inline {
        max-width: 384px;
        margin: 2rem;
        float: left;
    }
}


.show-desktop {
    display: none !important;
}

@media (min-width: 768px) {
    .show-desktop {
        display: initial !important;
    }

    .show-mobile {
        display: none !important;
    }
}
