---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="content">
		<h1>Services</h1>
		<h2>Counseling</h2>
		<h3>Individual Counseling &ndash; $130</h3>
		<p>
			This can range from traditional talk therapy to tailored therapies,
			including Cognitive Behavior Therapy, Dialectical Behavior Therapy,
			Internal Family Systems, Acceptance Commitment Therapy, and more!
		</p>
		<p>
			I offer sliding scale rates for those in need. <em
				>I am currently in the process of getting credentialed with
				various insurance companies.</em
			> Please <a href="/contact">contact me</a> for more information!
		</p>
		<h2>Specialties</h2>
		<ul>
			<li>Eating disorders</li>
			<li>Body image concerns</li>
			<li>Depression</li>
			<li>Anxiety</li>
			<li>Life Transitions</li>
			<li>Self-Harming</li>
			<li>Self-esteem struggles</li>
		</ul>
	</div>
</Layout>

<style>
	.content {
		width: 100%;
		max-width: min(var(--medium-page-width), 100%);
		margin: 0 auto;
	}
</style>
