---
const {
    id = null,
    class: className = "",
    "aria-label": ariaLabel = "Close menu",
    ...props
} = Astro.props;
const classes = `${className} cross`.trim();
---

<div id={id} class={classes} aria-label={ariaLabel} {...props}>
    <div class="left"></div>
    <div class="right"></div>
</div>

<style>
    .cross {
        min-width: 28px;
        width: 28px;
        height: 22px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .cross div {
        height: 4px;
        background: var(--color-primary-dark);
        border-radius: 2px;
    }

    .cross div.left {
        transform: translateY(9px) rotate(45deg);
    }

    .cross div.right {
        transform: translateY(-9px) rotate(-45deg);
    }
</style>
