---
const {
    id = null,
    class: className = "",
    "aria-label": ariaLabel = "Open menu",
    ...props
} = Astro.props;
const classes = `${className} hamburger`.trim();
---

<div id={id} class={classes} aria-label={ariaLabel} {...props}>
    <div></div>
    <div></div>
    <div></div>
</div>

<style>
    .hamburger {
        min-width: 28px;
        width: 28px;
        height: 22px;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .hamburger div {
        height: 4px;
        background: var(--color-primary-dark);
        border-radius: 2px;
    }
</style>
